*{
    box-sizing:border-box;
     padding:0;
     margin:0;
   }

  
   .toolbar{
     width:100%;
     height:60px;
     background-color: #CF1834;
     position:fixed;
     top:0;
     left:0;
     display: flex;
   }
   .toolbar-nav{
       width: 100vw;
     height:100%;
     display:flex;
     align-items:center;
     justify-content: space-between;
     padding:0 1rem;
   }
    ul, a{
     text-decoration: none;
     list-style:none;
     color:#fff;
   }
   ul a:hover{
     color:orange;
     transition: ease .5s;
   }
   ul{
     display:flex;
   }
   li{
     margin:0 2rem;
     font-size:1.2rem;
   }
   .logo{
       display: flex;
     font-size:2rem;
     margin-bottom:.3rem;
     margin-left:.6rem;
     

     
   }

   .logo img{
    height:8vh;
margin-right: 30vw;
   }
   .spacer{
     display:flex;
     flex:1;
   }
   .toggle-Btn{
     width:150px;
     height:40px;
     background:transparent;
     display:flex;
     justify-content:space-around;
     margin:0 1.2rem 0 1rem;
     border:none;
     cursor:pointer;
   }
   .btn-line{
     width:40px;
     height:40px;
     background-color:#0C448F;
     border-radius: 22px;
     box-shadow: 0 2px 4px;
     box-shadow:inset -1px -2px 5px 1px;
     border: 3px solid white;

       }

       .btn-line:hover{
        background-color:#0093f5;

       }
   .btn-line2{
    width:20px;
    height:20px;
    background-color:#C11E2E;
    border-radius: 22px;
    box-shadow: 0 2px 4px;

  }

  .btn-line2:hover{
    background-color:#ff3c3c;

   }
  
  .btn-line3{
    width:10px;
    height:10px;
    background-color:#E9BE41;
    border-radius: 22px;
    box-shadow: 0 2px 4px;

  }

  .btn-line3:hover{
    background-color:#ffd65c;

   }

  .btn-line4{
    width:10px;
    height:10px;
    background-color:#13875F;
    border-radius: 22px;
    box-shadow: 0 2px 4px;
  }


  .btn-line4:hover{
    background-color:#00ffa6;

   }
   .sidebar{
     max-width:360px;
     width:70%;
     height:100%;
     position:fixed;
     background-color: #CF1834;
     box-shadow: 8px 10px 5px rgba(0,0,0,0.7);
     top:60px;
     left:-100%;
     z-index:200;
     transition: left ease .8s;
   }
   .sidebar-ul li{
     margin: 2rem 0 ;
     font-size:1.4rem;
     cursor:pointer;
   }

   .sidebar-ul li:hover{
background: #0C448F;  }
   .sidebar-ul-top{
   position: absolute;
   left:48px ;
   color: black;
   background-color: black;
    border-bottom: 50px solid rgb(0, 0, 0);
    border-left: 70px solid #CF1834;
    border-right: 25px solid;
    height: 0;
    width: 125px;
  }

   .sidebar-ul{
     display:flex;
     flex-direction:column;
     justify-content:center;
     height:100%;
     align-items:center;
     margin-left:3rem;
     background-color: black;
     border-bottom:130px solid #CF1834;
    
   }
   .close-btn{
     width:30px;
     height:40px;
     float:right;
     margin:1rem;
     background:transparent;
     border:none;
     cursor:pointer;
     font-size:2rem;
     color:#fff
   }
   .backDrop{
     width: 100%;
     height:100%;
     position:fixed;
     z-index:100;
     top:0;
     right:0;
     bottom:0;
   /*   transition: right ease 1.2s; */
   }
   .sidebar.active{
     left:0;
     transition: left ease .5s;
   }
   
   main{
     margin-top:80px;
     margin-left:1rem;
   }
   